$primary: #7269ef;
$body-bg: #f8f9fa;
// ou para reforçar:
$primary-contrast: #ffffff;

@import "bootstrap/scss/bootstrap";

.btn-primary {
  color: #fff !important;
}

.titulo {
  color: #6c757d !important; /* cinza médio */
}

.multiselect-tag {
  background: #7269ef !important; /* roxo */
  border-color: #7269ef !important;
  color: white;
}


/* Scrollbar moderna (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

$color-primary: #5f3dc4;
$color-primary-dark: #4c2ea9;
$color-secondary: #b197fc;
$color-sidebar-bg-start: #3b3a68;
$color-sidebar-bg-end: #2e2d52;
$color-hover: rgba(177, 151, 252, 0.1);
$color-text-light: #cdd3e0;
$color-active: #b197fc;

$color-green: #4ade80;
$color-light: #ffffff;
